.showcase {
	display: flex;
	margin: 3rem 0;

	align-items: center;
	justify-content: space-around;
	width: 100%;
}
.showcase__main-image {
	--val: 25rem;
	border-radius: 30px;
	width: var(--val);
	height: var(--val);
	overflow: hidden;
}
.showcase__main-image img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.showcase__image-thumbnail {
	display: flex;
	margin: 2rem 0;
	gap: 1.7rem;
}
.showcase__image-thumbnail .thumbnail__sm {
	--val: 5rem;
	position: relative;
	border-radius: 10px;
	width: var(--val);
	height: var(--val);
	overflow: hidden;
}
.showcase__image-thumbnail .thumbnail__sm:hover {
	border: 2px solid hsl(26, 100%, 55%);
}

.showcase__image-thumbnail .thumbnail__sm:hover .thumbnail__sm {
	display: none;
}

.showcase__image-thumbnail .thumbnail__sm img {
	width: 100%;
	height: 100%;
}
@media (max-width: 768px) {
	.showcase {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}
